<!-- <p>index works!</p> -->
<!-- <div class="container" style="border: dotted;">
</div> -->
<div class="mt-5 flex justify-content-center" style="border: dotted;" >

  <div class="grid" style="border: double; width: 90%; height: auto;">
      
      <div class="col-12 col-md-6 flex justify-content-center align-items-center" style="border: dotted;height: auto; background-color: greenyellow;">
        <div class="flex align-items-center justify-content-center" style="border: double;height: 90%; width: 100%;">
          <img class="img-fluid" src="../../../../assets/profile3.png" alt="" style="height: auto; border-radius: 50%;" width="300px">
        </div>
      </div>

      <div class="col-12 col-md-6" style="border: dotted;height: auto;">
        <div class="" style="border: double;">
          <h1>Rafael Santiago Ñontol Lozano</h1>
        </div>

        <div style="border: double;">
          <p>
            Bachiller en Ingeniería de Software por la Universidad Nacional Mayor de San Marcos. Experiencia de 2 años en desarrollo Backend y Frontend, apasionado de la Arquitectura de Software. Me especializo en Spring Boot y Angular.
          </p>
        </div>

        <div class="flex justify-content-evenly" style="border: double;" >
          <a class="fs-2 mx-3" href="https://github.com/Capdoo" target="_blank"><i class="bi bi-github"></i></a>
          <a class="fs-2 mx-3" href="https://www.linkedin.com/in/rafael-nontol-lozano/" target="_blank"><i
              class="bi bi-linkedin"></i></a>

          <a class="fs-2 mx-3" href="https://www.youtube.com/channel/UCZbWZ8YIBHpXRCa-o4Fq98w" target="_blank"><i
              class="bi bi-youtube"></i></a>

          <a class="fs-2 mx-3" href="https://www.instagram.com/rafaelnontol/" target="_blank"><i
              class="bi bi-instagram"></i></a>
        </div>
      </div>


  </div>
</div>

<app-whatido></app-whatido>

