<!-- <header class="container-fluid bg-primary d-flex justify-content-center">
  <p class="text-light
      mb-0
      p-2
      fs-6">Portfolio</p>
</header> -->

<!-- 1. Menu -->
<nav class="navbar
          navbar-expand-lg
          bg-body-tertiary
          p-3" id="menu">

  <div class="container-fluid">

      <a class="navbar-brand" href="#">
          <span class="text-primary fs-5 fw-bold">
              Rafael Santiago
          </span>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 mx-5">

              <li class="nav-item mx-md-3">
                  <a class="nav-link active" aria-current="page" routerLink="/home">Inicio</a>
              </li>

              <li class="nav-item mx-md-3">
                  <a class="nav-link" routerLink="/educacion">Educación</a>
              </li>

              <li class="nav-item mx-md-3">
                  <a class="nav-link" routerLink="/experiencia">Experiencia</a>
                  <!-- aqui van los certis -->
              </li>

              <li class="nav-item mx-md-3">
                  <a class="nav-link" routerLink="/proyectos">Proyectos</a>
              </li>

              <li class="nav-item mx-md-3">
                  <a class="nav-link" routerLink="/contacto">Contacto</a>
              </li>
          </ul>


      </div>
  </div>
</nav>