<!-- Certificaciones -->
<div class="my-5 col-12 flex justify-content-center" style="border: none;">
  <h1>Certificaciones</h1>
</div>


<div class="mt-5 flex justify-content-center" style="border: none;">

  <div class="grid contenido xl:px-8" style="border: none; width: 90%; height: auto;">

    <!-- 1. ingles avanzado -->
    <div class="col-12 col-md-4 p-4" style="border: none;">
      <p-card header="Inglés Avanzado" subheader="Británico" styleClass="custom-card">
        <ng-template pTemplate="header">
          <div class="cuarter flex justify-content-center align-items-center" style="border: none"
            (click)="openNewTab(1)">

            <div class="col-12 flex justify-content-center" style="border: none; width: 100%;">
              <img class="mt-1 img-fluid" alt="Card" src="../../../../assets/britanico.png"
                style="height: auto; width: 150px; border: none" />
            </div>

            <div class="overlay">
              <div class="flex justify-content-center align-items-center" style="height: 100%;">
                <p style="color: white;">CERTIFICADO</p>
              </div>
            </div>
          </div>

        </ng-template>
      </p-card>
    </div>

    <!-- 2. scrum fundamentals -->
    <div class="col-12 col-md-4 p-4" style="border: none">
      <p-card header="Scrum Fundamentals" subheader="Scrum Study" styleClass="custom-card">
        <ng-template pTemplate="header">
          <div class="cuarter flex justify-content-center align-items-center" style="border: none;"
            (click)="openNewTab(2)">
            <div class="col-12 flex justify-content-center" style="border: none; width: 100%;">
              <img class="mt-1 img-fluid" alt="Card" src="../../../../assets/scrumstudy.jpg"
                style="height: auto; width: 150px; border: none;" />
            </div>
            <div class="overlay">
              <div class="flex justify-content-center align-items-center" style="height: 100%;">
                <p style="color: white;">CERTIFICADO</p>
              </div>
            </div>
          </div>
        </ng-template>
      </p-card>
    </div>

    <!-- 3. ndg linux -->
    <div class="col-12 col-md-4 p-4" style="border: none">
      <p-card header="NDG Linux Unhatched" subheader="Cisco Networking Academy" styleClass="custom-card">
        <ng-template pTemplate="header">
          <div class="cuarter flex justify-content-center align-items-center" style="border: none" (click)="openNewTab(3)">
            <div class="col-12 flex justify-content-center" style="border: none; width: 100%;">
              <img class="mt-1 img-fluid" alt="Card" src="../../../../assets/cisco.png"
                style="height: auto; width: 150px;" />
            </div>
            <div class="overlay">
              <div class="flex justify-content-center align-items-center" style="height: 100%;">
                <p style="color: white;">CERTIFICADO</p>
              </div>
            </div>
          </div>
        </ng-template>
      </p-card>
    </div>

    <!-- 4. michigan -->
    <div class="col-12 col-md-4 p-4" style="border: none">
      <p-card header="JavaScript, jQuery y JSON" subheader="Universidad de Michigan" styleClass="custom-card">
        <ng-template pTemplate="header">
          <div class="cuarter flex justify-content-center align-items-center" style="border: none" (click)="openNewTab(4)">
            <div class="col-12 flex justify-content-center" style="border: none; width: 100%;">
              <img class="mt-1 img-fluid" alt="Card" src="../../../../assets/michigan.png"
                style="height: auto; width: 150px;" />
            </div>
            <div class="overlay">
              <div class="flex justify-content-center align-items-center" style="height: 100%;">
                <p style="color: white;">CERTIFICADO</p>
              </div>
            </div>
          </div>
        </ng-template>
      </p-card>
    </div>

    <!-- 5. ingles intermedio -->
    <div class="col-12 col-md-4 p-4" style="border: none;">
      <p-card header="Inglés Intermedio" subheader="Británico" styleClass="custom-card">
        <ng-template pTemplate="header">
          <div class="cuarter flex justify-content-center align-items-center" style="border: none" (click)="openNewTab(5)">
            <div class="col-12 flex justify-content-center" style="border: none; width: 100%;">
              <img class="mt-1 img-fluid" alt="Card" src="../../../../assets/britanico.png"
                style="height: auto; width: 150px;" />
            </div>
            <div class="overlay">
              <div class="flex justify-content-center align-items-center" style="height: 100%;">
                <p style="color: white;">CERTIFICADO</p>
              </div>
            </div>
          </div>
        </ng-template>
      </p-card>
    </div>

    <!-- 6. oracle uni -->
    <div class="col-12 col-md-4 p-4" style="border: none;">
      <p-card header="Oracle Introducción a SQL" subheader="Universidad Nacional de Ingeniería"
        styleClass="custom-card">
        <ng-template pTemplate="header">
          <div class="cuarter flex justify-content-center align-items-center" style="border: none" (click)="openNewTab(6)">
            <div class="col-12 flex justify-content-center" style="border: none; width: 100%;">
              <img class="mt-1 img-fluid" alt="Card" src="../../../../assets/unilogo.png"
                style="height: auto; width: 150px;" />
            </div>
            <div class="overlay">
              <div class="flex justify-content-center align-items-center" style="height: 100%;">
                <p style="color: white;">CERTIFICADO</p>
              </div>
            </div>
          </div>
        </ng-template>
      </p-card>
    </div>

    <!-- 7. ingles basico -->
    <div class="col-12 col-md-4 p-4" style="border: none;">
      <p-card header="Inglés Básico" subheader="Británico" styleClass="custom-card">
        <ng-template pTemplate="header">
          <div class="cuarter flex justify-content-center align-items-center" style="border: none" (click)="openNewTab(7)">
            <div class="col-12 flex justify-content-center" style="border: none; width: 100%;">
              <img class="mt-1 img-fluid" alt="Card" src="../../../../assets/britanico.png"
                style="height: auto; width: 150px;" />
            </div>
            <div class="overlay">
              <div class="flex justify-content-center align-items-center" style="height: 100%;">
                <p style="color: white;">CERTIFICADO</p>
              </div>
            </div>
          </div>
        </ng-template>
      </p-card>
    </div>

    <!-- 8. oracle uni -->
    <div class="col-12 col-md-4 p-4" style="border: none;">
      <p-card header="Desarrollo de aplicaciones de escritorio en Java" subheader="Universidad Nacional de Ingeniería"
        styleClass="custom-card">
        <ng-template pTemplate="header">
          <div class="cuarter flex justify-content-center align-items-center" style="border: none" (click)="openNewTab(8)">
            <div class="col-12 flex justify-content-center" style="border: none; width: 100%;">
              <img class="mt-1 img-fluid" alt="Card" src="../../../../assets/unilogo.png"
                style="height: auto; width: 150px;" />
            </div>
            <div class="overlay">
              <div class="flex justify-content-center align-items-center" style="height: 100%;">
                <p style="color: white;">CERTIFICADO</p>
              </div>
            </div>
          </div>
        </ng-template>
      </p-card>
    </div>

    <!-- 9. oracle uni -->
    <div class="col-12 col-md-4 p-4" style="border: none;">
      <p-card header="Programación en Java" subheader="Universidad Nacional de Ingeniería" styleClass="custom-card">
        <ng-template pTemplate="header">
          <div class="cuarter flex justify-content-center align-items-center" style="border: none" (click)="openNewTab(9)">
            <div class="col-12 flex justify-content-center" style="border: none; width: 100%;">
              <img class="mt-1 img-fluid" alt="Card" src="../../../../assets/unilogo.png"
                style="height: auto; width: 150px;" />
            </div>
            <div class="overlay">
              <div class="flex justify-content-center align-items-center" style="height: 100%;">
                <p style="color: white;">CERTIFICADO</p>
              </div>
            </div>
          </div>
        </ng-template>
      </p-card>
    </div>

  </div>
</div>