
.cuarter {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 250px;
}


.overlay {
  position: absolute;
  /* top: 0; */
  /* left: 0; */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85); /* Color oscuro con transparencia */
  opacity: 0;
  transition: opacity 0.6s ease;

  cursor: pointer;
}

.overlay p {
  font-size: 20px;
}

.cuarter:hover .overlay {
  opacity: 1;
}