<!-- <p>index works!</p> -->
<!-- <div class="container" style="border: none;">
</div> -->
<div class="mt-5 flex justify-content-center" style="border: none;">

  <div class="contenido grid xl:px-8" style="border: none; width: 90%; height: auto;">

    <div class="col-12 col-md-6 flex justify-content-center align-items-center" style="border: none;height: auto; ">
      <div class="flex align-items-center justify-content-center" style="border: none;height: 90%; width: 100%;">
        <img class="img-fluid" src="../../../../assets/profile3.png" alt="" style="height: auto; border-radius: 50%;"
          width="300px">
      </div>
    </div>

    <div class="col-12 col-md-6" style="border: none;height: auto;">
      <div class="" style="border: none;">
        <h1>Rafael Santiago Ñontol Lozano</h1>
      </div>

      <div class="mt-3" style="border: none;">
        <p>
          Bachiller en Ingeniería de Software por la Universidad Nacional Mayor de San Marcos. Tengo de 2 años de
          experiencia en
          desarrollo Backend y Frontend, me interesa la Arquitectura de Software.
        </p>
      </div>

      <div class="mt-4 flex justify-content-start flex-wrap" style="border: none;">
        <a class="fs-2 mx-3" href="https://github.com/Capdoo" target="_blank"><i class="bi bi-github "
            style="max-width: 100%; height: auto;"></i></a>
        <a class="fs-2 mx-3" href="https://www.linkedin.com/in/rafael-nontol-lozano/" target="_blank"><i
            class="bi bi-linkedin" style="max-width: 100%; height: auto;"></i></a>

        <a class="fs-2 mx-3" href="https://www.youtube.com/channel/UCZbWZ8YIBHpXRCa-o4Fq98w" target="_blank"><i
            class="bi bi-youtube" style="max-width: 100%; height: auto;"></i></a>

        <a class="fs-2 mx-3" href="https://www.instagram.com/rafaelnontol/" target="_blank"><i class="bi bi-instagram"
            style="max-width: 100%; height: auto;"></i></a>
      </div>
    </div>


  </div>
</div>