<div class="my-5 col-12 flex justify-content-center" style="border: none;">
  <h1>¿Qué es lo que hago?</h1>
</div>

<div class="mt-5 flex justify-content-center" style="border: none;">

  <div class="contenido grid xl:px-8" style="border: none; width: 90%; height: auto;">

    <!-- <div class="my-5 col-12 flex justify-content-center" style="border: none;">
      <h1>¿Qué es lo que hago?</h1>
    </div> -->

    <div class="col-12 col-md-6 justify-content-center align-items-center" style="border: none;">
      <div class="flex align-items-center justify-content-center" style="border: none;height: 90%; width: 100%;">
        <!-- <img class="img-fluid" src="./assets/Picture1.png" alt=""
          style="height: auto; border-radius: 25px; width: 400px"> -->
        <img class="img-fluid" src="./assets/time.png" alt="" style="height: auto; border-radius: 25px; width: 400px">
      </div>
    </div>

    <!-- Desarrollo Backend -->
    <div class="col-12 col-md-6" style="border: none;">
      <div class="flex justify-content-start" style="border: none;">
        <h2>Desarrollo Backend</h2>
      </div>

      <div class="mt-3 flex justify-content-center flex-wrap" style="border: none;">
        <a class="fs-2 mx-3" target="_blank" style="border: none;">
          <img class="icons-list img-fluid" src="./assets/spring.svg" alt="">
        </a>
        <a class="fs-2 mx-3" target="_blank" style="border: none;">
          <img class="icons-list img-fluid" src="./assets/nodejs.svg" alt="">
        </a>
        <a class="fs-2 mx-3" target="_blank" style="border: none;">
          <img class="icons-list img-fluid" src="./assets/java.svg" alt="">
        </a>
        <a class="fs-2 mx-3" target="_blank" style="border: none;">
          <img class="icons-list img-fluid" src="./assets/oracle.svg" alt="">
        </a>
        <a class="fs-2 mx-3" target="_blank" style="border: none;">
          <img class="icons-list img-fluid" src="./assets/mysql.svg" alt="">
        </a>
      </div>

      <div class="mt-3" style="border: none;">

          <p class="mt-4">Desarrollo de microservicios usando Spring Boot y Java.</p>
          <p class="mt-2">Creación de aplicaciones backend usando NodeJs.</p>
          <p class="mt-2">Gestión de Base de Datos relacionales como Oracle, MySql y PostgreSql.</p>

        <!-- <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, nemo.
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, nemo.
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, nemo. -->
      </div>
    </div>
  </div>

</div>


<div class="mt-5 flex justify-content-center" style="border: none">
  <div class="contenido grid xl:px-8" style="border: none; width: 90%; height: auto">

    <div class="col-12 col-md-6 justify-content-center align-items-center" style="border: none;">
      <div class="flex align-items-center justify-content-center" style="border: none;height: 90%; width: 100%;">
        <img class="img-fluid" src="./assets/time8.png" alt="" style="height: auto; border-radius: 25px; width: 400px">
      </div>
    </div>

    <!-- Desarrollo Frontend -->
    <div class="col-12 col-md-6" style="border: none;">
      <div class="flex justify-content-start" style="border: none;">
        <h2>Desarrollo Frontend</h2>
      </div>
      <div class="mt-3 flex justify-content-center flex-wrap" style="border: none;">
        <a class="fs-2 mx-3" target="_blank">
          <img class="icons-list img-fluid" src="./assets/angular-logo.png" alt="">
        </a>
        <a class="fs-2 mx-3" target="_blank">
          <img class="icons-list img-fluid" src="./assets/reactjs.png" alt="">
        </a>
        <a class="fs-2 mx-3" target="_blank">
          <img class="icons-list img-fluid" src="./assets/html.svg" alt="">
        </a>
        <a class="fs-2 mx-3" target="_blank">
          <img class="icons-list img-fluid" src="./assets/css.svg" alt="">
        </a>
        <a class="fs-2 mx-3" target="_blank">
          <img class="icons-list img-fluid" src="./assets/typescript.svg" alt="">
        </a>
      </div>

      <div class="mt-3" style="border: none;">
        <p class="mt-4">Desarrollo de aplicaciones web responsive usando Angular y React.
        <p class="mt-2">Experiencia usando Angular Material y PrimeNg como librerias principales.
        <p class="mt-2">Conocimiento de maquetado web en HTML, CSS y JavaScript.
      </div>
    </div>


  </div>
</div>

<div class="mt-5 mb-5 flex justify-content-center" style="border: none;">

  <div class="contenido grid xl:px-8" style="border: none; width: 90%; height: auto;">

    <div class="col-12 col-md-6 justify-content-center align-items-center" style="border: none;">
      <div class="flex align-items-center justify-content-center" style="border: none;height: 90%; width: 100%;">
        <!-- <img class="img-fluid" src="./assets/Picture1.png" alt=""
          style="height: auto; border-radius: 25px; width: 400px"> -->
        <img class="img-fluid" src="./assets/time11.png" alt="" style="height: auto; border-radius: 25px; width: 400px">
      </div>
    </div>

    <!-- Desarrollo Backend -->
    <div class="col-12 col-md-6" style="border: none;">
      <div class="flex justify-content-start" style="border: none;">
        <h2>Cloud</h2>
      </div>

      <div class="mt-3 flex justify-content-center flex-wrap" style="border: none;">
        <a class="fs-2 mx-3" target="_blank">
          <img class="icons-list img-fluid" src="./assets/amazon.svg" alt="">
        </a>
        <a class="fs-2 mx-3" target="_blank">
          <img class="icons-list img-fluid" src="./assets/azure4.png" alt="">
        </a>
        <a class="fs-2 mx-3" target="_blank">
          <img class="icons-list img-fluid" src="./assets/docker.svg" alt="">
        </a>
        <a class="fs-2 mx-3" target="_blank">
          <img class="icons-list img-fluid" src="./assets/linux.png" alt="">
        </a>
        <a class="fs-2 mx-3" target="_blank">
          <img class="icons-list img-fluid" src="./assets/heroku.svg" alt="">
        </a>
      </div>

      <div class="mt-3" style="border: none;">
        <p class="mt-4">Despliegue de microservicios en la nube usando contenedores con Docker.</p>
        <p class="mt-2">Experiencia trabajando con servicios de AWS y gestion de Pipelines en Microsoft Azure.</p>
        <p class="mt-2">Conocimientos de comandos de Linux para la gestion de servidores de aplicaciones.</p>
      </div>
    </div>
  </div>

</div>