
<div class="mt-8 flex justify-content-center" style="border: dotted;">

  <div class="grid contenido xl:px-8" style="border: double; width: 90%; height: auto;">

    <!-- 1. Portafolio web -->
    <div class="repo col-12 col-md-4 p-3" style="border: none;" (click)="openNewTab(1)">
      <p-card header="Portafolio Web" styleClass="custom-card-pj">
        <div class="grid flex justify-content-between" style="border: dotted;">
          <div class="col-12 flex align-items-center" style="border: double;">
            resumen sample sample
          </div>
          <div class="col-12 col-md-6 flex align-items-center" style="border: double;">
            creado en sample
          </div>

          <div class=" col-12 col-md-6 flex justify-content-end flex-wrap" style="border: double;">
            <a class="fs-2 mx-3" target="_blank" style="border: none;">
              <img class="icons-list img-fluid" src="./assets/spring.svg" alt="">
            </a>
            <a class="fs-2 mx-3" target="_blank" style="border: none;">
              <img class="icons-list img-fluid" src="./assets/angular-logo.png" alt="">
            </a>
            <a class="fs-2 mx-3" target="_blank" style="border: none;">
              <img class="icons-list img-fluid" src="./assets/mysql.svg" alt="">
            </a>
          </div>

        </div>
      </p-card>
    </div>

    <!-- 2. BlogRu Backend -->
    <div class="repo col-12 col-md-4 p-3" style="border: none;" (click)="openNewTab(2)">
      <p-card header="Blog Application" styleClass="custom-card-pj">
        <div class="grid flex justify-content-between" style="border: dotted;">
          <div class="col-12 flex align-items-center" style="border: double;">
            resumen sample sample
          </div>
          <div class="col-12 col-md-6 flex align-items-center" style="border: double;">
            creado en sample
          </div>

          <div class=" col-12 col-md-6 flex justify-content-end flex-wrap" style="border: double;">
            <a class="fs-2 mx-3" target="_blank" style="border: none;">
              <img class="icons-list img-fluid" src="./assets/spring.svg" alt="">
            </a>
            <a class="fs-2 mx-3" target="_blank" style="border: none;">
              <img class="icons-list img-fluid" src="./assets/angular-logo.png" alt="">
            </a>
            <a class="fs-2 mx-3" target="_blank" style="border: none;">
              <img class="icons-list img-fluid" src="./assets/mysql.svg" alt="">
            </a>
          </div>

        </div>
      </p-card>
    </div>

    <!-- 3. Mascotas Perdidas App -->
    <div class="repo col-12 col-md-4 p-3" style="border: none;" (click)="openNewTab(3)">
      <p-card header="Mascotas Perdidas App" styleClass="custom-card-pj">
        <div class="grid flex justify-content-between" style="border: dotted;">
          <div class="col-12 flex align-items-center" style="border: double;">
            resumen sample sample
          </div>
          <div class="col-12 col-md-6 flex align-items-center" style="border: double;">
            creado en sample
          </div>

          <div class=" col-12 col-md-6 flex justify-content-end flex-wrap" style="border: double;">
            <a class="fs-2 mx-3" target="_blank" style="border: none;">
              <img class="icons-list img-fluid" src="./assets/spring.svg" alt="">
            </a>
            <a class="fs-2 mx-3" target="_blank" style="border: none;">
              <img class="icons-list img-fluid" src="./assets/angular-logo.png" alt="">
            </a>
            <a class="fs-2 mx-3" target="_blank" style="border: none;">
              <img class="icons-list img-fluid" src="./assets/mysql.svg" alt="">
            </a>
          </div>

        </div>
      </p-card>
    </div>





  </div>
</div>