#img-tools{
  border-radius: 1%;
  height: auto;
  width: 80%;
  /* border: dotted; */
}


.icons-list{
  /* border-radius: 1%; */
  height: auto;
  width: 35px;
  /* border: dotted; */
  border: ridge;
}

@media (min-width: 1200px) {
  /* … */
  .contenido {
    /* width: 70% !important; */
  }

}

.repo {

}


/* mat-card.mat-elevation-z8 {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12);
} */