/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;

    /* background-color: #e4edff; */
    background-color: #eaf2ff;

    overflow-x: hidden;
}


.custom-card {
    width: 100%;
    height: 90%;
    /* height: 300px; */
    /* display: flex; */
    justify-content: center;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* background-color: #d17878; */
}

.custom-panel {
    width: 100%;
}

.customized-timeline{
    border: none;
    /* padding-right: 700px; */

    /* display: block; */
    /* align-items: start; */
}


.p-timeline-event{
    /* margin-bottom: 50px; */
}

.p-timeline-event-opposite{
    display: none;
}

.p-card-body {
    /* padding: 20px; */
}

.custom-panel-body{
    border: none;
    margin-bottom: 100px;
}